body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

.navbar, .header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    
}

.links {
    color: #f9faf8;
    margin: 10px;
}

ul {
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.left {
    display: flex;
    max-width: 300px;
    flex-direction: column;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 10px;

}

.header1 {
    color: #f9faf8;
}

.container {
    text-align: center;
}

.header2 {
    font-size: 36px bold;
    padding: 15px;
    margin: 0;
}

.secondary-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info {
    max-width: 200px;
}

.pic {
    border: 2px solid #3882f6;
    border-radius: 10%;
}

.text {
    max-width: 104px;
}

.container2 {
    text-align: center;
    max-width: 50%;
}

.quote {
    text-align: center;
    margin: 0;
    padding: 0;
}