body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

.navbar, .header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    
}

a.logo:hover {
    background-color: #3882f6;
    padding: 5px 0px;
    border-radius: 7%;
}

.links {
    color: #f9faf8;
    margin: 10px;
}

ul {
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li:hover {
    background-color: #3882f6;
    border-radius: 7%;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.left {
    display: flex;
    max-width: 300px;
    flex-direction: column;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 10px;

}

.button1:hover {
    cursor: pointer;
    background-color: #1f2937;
}


.header1 {
    color: #f9faf8;
}

.container {
    text-align: center;
}

.header2 {
    font-size: 36px bold;
    padding: 15px;
    margin: 0;
}

.secondary-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info {
    max-width: 200px;
}

.pic {
    border: 2px solid #3882f6;
    border-radius: 10%;
}

.text {
    max-width: 104px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
    margin: 70px;
}

.quote {
    font-size: 36px light;
    color: #1f2937;
    display: block;
    max-width: 40%;
    margin: 0px;
    padding-bottom: 15px;
}

.quote-cite {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.sign-up-section {
    align-content: center;
    margin: 60px 80px;
}

.container3 {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.call {
    color: #f9faf8;
}

.call2 {
    color: #e5e7eb;
}

.right2 {
    display: flex;
    align-items: center;
}

.button2 {
    border: 2px solid #f9faf8;
    border-radius: 10px;
    color: #f9faf8;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    background-color: #3882f6;
}

.button2:hover {
    cursor: pointer;
    background-color: #1f2937;
}

.copyright-info {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.copyright {
    margin: 0;
    padding: 0;
}